<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css">
	{% feed_meta % }
	{% seo %}
	</head>
	
	<body>
		{% include navigation.html %}
		{{ content }}
	</body>
</html>
